@using SendFormData.Models
@model List<User>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container w-50 m-auto mt-5">
        <h3>Logged-In User_ID : @{ int ID = ((User)TempData["User"]).ID; } @ID</h3>
        <h3> Logged-In UserName : @{ string Name = ((User)TempData["User"]).UserName; } @Name</h3>
        <h3> Logged-In Password : @{ string Password = ((User)TempData["User"]).Password; } @Password</h3>
        <h1>List of User</h1>
        <div class="table table-success">
            <div class="row header bg-primary">
                <h4 class="col-3">ID</h4>
                <h4 class="col-3">UserName</h4>
                <h4 class="col-3">Password</h4>
                <h4 class="col-3">Display</h4>
            </div>

            @foreach (User user in Model)
            {
                <div class="row">
                    <div class="col-3">@user.ID</div>
                    <div class="col-3">@user.UserName</div>
                    <div class="col-3">@user.Password</div>
                    <div class="col-3">@Html.ActionLink("Display", "Display", new { id = user.ID })</div>
                </div>
             }
        </div>
    </div>
</body>
</html>
